#root{
    width: 100%;

    display: flex;
    justify-content: center;
}
.div_formularios{
    width: 100%;
    max-width: 100rem;
    padding: 1rem;
    margin-top: 5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}
.div_formularios .item{
    text-decoration: none;
    color: rgb(28, 28, 28);
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

}
.div_formularios .item:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}