body {
    font-family: Arial, sans-serif;
    background-image: url('https://th.bing.com/th/id/R.46285ce756a50ccdf3d48b7c3d7524b2?rik=9cPM0WK01ojLlA&pid=ImgRaw&r=0'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin: 0 0 20px;
    text-align: center;
    font-size: 24px; 
}

.search-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.search-box {
    display: flex;
    flex-direction: column;
}

.search-box input {
    width: 100%;
    padding: 10px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    width: 100%;
    padding: 10px;
    background-color: #060616;
    border: none;
    border-radius: 4px;
    color: wheat;
    font-size: 16px;
    cursor: pointer;
}

.search-box button:disabled {
    cursor: not-allowed;
    background-color: #444; /* Color más claro para deshabilitado */
}
