.box-login{
    width: 100%;
    max-width: 120rem;
    height: 60rem;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;

    display: grid;
    grid-template-columns: 48rem auto;
    grid-template-rows: 60rem;
    gap: 1rem;
}

.box-login .formulario{
    height: 100%;
    padding: 7rem 8rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.box-login .log{
    grid-column: 1/9;
    font-size: 1.5rem;
    font-weight: 00;
}
.box-login h2{
    grid-column: 1/9;
    color: rgb(123, 121, 121);
}
.box-login .btn-facebook{
    grid-column: 1/4;
    background-color: rgb(7, 7, 209);
    color: white;
    height: 3rem;
    width: 15rem;
    font-size: 1.2rem;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.box-login .btn-facebook img{
    width: 15px;
    height: 20px;
    
}
.box-login .btn-xing{
    grid-column: 5/8;
    background-color: rgb(2, 50, 2);

    color: white;
    height: 3rem;
    width: 15rem;
    font-size: 1.2rem;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.box-login .btn-xing img{
    width: 15px;
    height: 20px;
}
.box-login span{
    grid-column: 1/9;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
}